version: '3.8'

services:
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  web:
    build: .
    volumes:
      - .:/usr/src/app
    ports:
      - "8001:8001"
    env_file:
      - .env
    environment:
      - DJANGO_SETTINGS_MODULE=sso_service.settings
      - REDIS_URL=redis://redis:6379/1
    depends_on:
      - redis
